<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatbot</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body id="chat-screen">

    <header class="alt-header">
      <div class="alt-header__column">
        <a href="/">
          <i class="fas fa-angle-left fa-3x"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <h1 class="alt-header__title">챗봇</h1>
      </div>
      <div class="alt-header__column">
        <span><i class="fas fa-search fa-lg"></i></span>
        <span><i class="fas fa-bars fa-lg"></i></span>
      </div>
    </header>

    <main class="main-screen main-chat" id="main-screen">
      <div class="chat__timestamp" id="time">{{today}}</div>

      <div class="message-row" id="chatbot-message1">
        <img src="static/robot.jpg" />
        <div class="message-row__content">
          <span class="message__author">챗봇</span>
          <div class="message__info">
            <span class="message__bubble" id="text1">안녕하세요. 저는 챗봇입니다.</span>
            <span class="message__time">{{time}}</span>
          </div>
        </div>
      </div>
      
      <div class="message-row message-row--own" id="user-message2">
        <div class="message-row__content">
          <div class="message__info">
            <span class="message__bubble" id="text2">안녕 챗봇!</span>
            <span class="message__time">{{time}}</span>
          </div>
        </div>
      </div>
      
    </main>

    <div class="reply">
      <div class="reply__column">
        <i class="far fa-plus-square fa-lg"></i>
      </div>
      <div class="reply__column">
        <input type="text" placeholder="write a message..." id="input-text" name="input-text"/>
        <button pys-onClick="add_text" id="input-button">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
    </div>

    <div class="no-mobile">
      <span>화면을 세로로 해주세요!</span>
    </div>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
    <script> // 서버와 통신을 위한 코드
      let messageId = 3

      $('#input-button').click(function() { // 입력 버튼을 눌렀을 때
        var userText = $('#input-text').val().trim(); // 입력된 데이터 가져옴
        if(userText == '')
          userText = 'blank';

        var request = {'data':userText}; // json 형식으로 만들기
        $.ajax({ // ajax로 서버와 비동기 통신하는 코드 -> 새로고침 하지 않고 통신 가능
          type : "POST",
          url : '{{url_for("data")}}',
          dataType : "JSON", // json으로 통신
          data : JSON.stringify(request),
          contentType: "application/json",
          error : function(){
            console.log("서버와 통신 실패");
            alert('서버와 통신 실패');
          },
          success : function(response){
            console.log("서버와 통신 성공");

            let inputText = document.getElementById('input-text'); 
            // 사용자 말풍선 띄우는 코드
            let userMessage = document.getElementById('user-message2');
            var new_message = userMessage.cloneNode(true);
            new_message.id = 'user-message' + messageId;
            var text = new_message.getElementsByClassName('message__bubble');
            text[0].innerText = inputText.value;
            text[0].id = "text" + messageId++;

            var time = new_message.getElementsByClassName('message__time'); // 현재 시간
            time[0].innerText = response['time'];

            userMessage.parentNode.appendChild(new_message);
            // 챗봇 말풍선 띄우는 코드
            let chatbotMessage = document.getElementById('chatbot-message1');
            var new_message = chatbotMessage.cloneNode(true);
            new_message.id = 'chatbot-message' + messageId;
            var text = new_message.getElementsByClassName('message__bubble');
            text[0].innerText = response['chatbotText'];
            text[0].id = "text" + messageId++;

            var time = new_message.getElementsByClassName('message__time'); // 현재 시간
            time[0].innerText = response['time'];

            chatbotMessage.parentNode.appendChild(new_message);

            inputText.value = "";
          }
        });
      })
    </script>
  </body>
</html>
